@model Stok_Takip_Web.Models.Siniflar.Musteriler
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; color:red; margin-top:20px;"> Kategori Ekleme Sayfası</h1>
@using (Html.BeginForm("MusteriEkle", "Musteri", FormMethod.Post, new { @style = "margin-top:30px;"}))
{
    <div>
        @Html.LabelFor(x => x.Ad, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.Soyad, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.Telefon, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Telefon, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.Mail, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Mail, "", new { @style = "color:red; margin-left:30px;" })
    </div>

    @Html.LabelFor(x => x.Sehir, new { @style = "margin-left:30px; font-weight:bold; " })
    @Html.DropDownListFor(x => x.SehirID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control", @style = "margin-left:30px;width:1000px" })
    @Html.ValidationMessageFor(x => x.SehirID, "", new { @style = "color:red; margin-left:30px;" })

    <div>
        @Html.LabelFor(x => x.Adres, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Adres, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <button class="btn btn-default" style="background-color:blue; color:white;margin-left:30px;">Kaydet</button>
    @Html.ActionLink("İptal", "Index", new { }, new { @class = "btn btn-primary", @style = "background-color:red; color:white" })
}
